{
  "root": true,
  "extends": [
    "eslint:recommended",
    "eslint-config-airbnb-base",
    // plugin
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    // prettier
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "class-methods-use-this": 0,
    // unicorn
    "unicorn/prevent-abbreviations": 0,
    // import
    "import/order": [
      2,
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/extensions": [1, { "js": "never", "json": "always" }],
    // react
    "react/self-closing-comp": 2,
    // jsx-a11y
    "jsx-a11y/anchor-is-valid": 0,
    // eslint-comment
    "eslint-comments/disable-enable-pair": [
      2,
      {
        "allowWholeFile": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "prettier/@typescript-eslint"
      ],
      "parserOptions": {
        "warnOnUnsupportedTypeScriptVersion": true
      },
      "settings": {
        "import/resolver": {
          "typescript": {
            "alwaysTryTypes": true
          }
        }
      },
      "rules": {
        // react
        "react/prop-types": 0
      }
    },
    {
      "files": ["**/*.d.ts"],
      "rules": {
        "spaced-comment": [2, "always", { "markers": ["/ <reference"] }]
      }
    },
    {
      "files": ["**/*.stories.{js,tsx}"],
      "rules": {
        "import/no-extraneous-dependencies": [0, { "devDependencies": false }]
      }
    }
  ]
}
