{
  "quoteProps": "consistent",
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        ".babelrc",
        ".eslintrc",
        ".prettierrc",
        ".lintstagedrc",
        ".huskyrc",
        ".renovaterc"
      ],
      "options": { "parser": "json" }
    }
  ]
}
